body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: url('images/luffy.jpg') no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
     /* background: #191919 ; */
    /* background:#2f363e ; */

   
}

/* Background Container */

.container {
    position: relative;
    background: #191919;
    min-height: 500px;
    border-radius: 5%;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.75),10px 50px 70px rgba(0, 0, 0, 0.25);
    inset: 5px 5px 10px rgba(0, 0, 0, 0.5);
    inset: 5px 5px 20px rgba(255,255,255,0.25);
    inset: -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    

   

    
}

/* Clock Container */

.clock {
    position: relative;
    width: 450px;
    height: 450px;
    background: #191919;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25);
    inset: 5px 5px 10px rgba(0, 0, 0, 0.5);
    inset: 5px 5px 20px rgba(255,255,255,0.25);
    inset: -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    
}
/* Clock Dots and Numbers */
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid#fff;
    border-radius: 50%;
    z-index: 100000;

}
.clock span{
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
    /* 360/12=30 deg */
}
.clock span b{
    font-size: 2em;
    opacity: 0.3;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));
}

.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
   
}

.circle:nth-child(1) i{
    width: 2px;
}
.circle:nth-child(2) i{
    width: 6px;
}

.circle2 {
    width: 240px;
    height: 240px;
    z-index: 8;   
}
.circle3 {
    width: 180px;
    height: 180px;
    z-index: 9;
   
}
.circle::before{

    content: '.';
    position: absolute;
    top: -8.5px;
    width: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr) , 0 0 60px var(--clr);
    z-index: 100;

}
/* 
/* Digital Clock Styles */
#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    inset: 5px 5px 20px rgba(255,255,255,0.25);
    inset: -5px -5px 15px rgba(0,0,0,0.75);


}
#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
    
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -4px;
    bottom: 2px;
    color: var(--clr);

}
#time div:last-child{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#time div:nth-child(2)::after{

    animation: animate 1s steps(1)infinite;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* alaram clock */

.setAlarm{
    display: flex;
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    

}
.setAlarm{
    display: flex;
    width: 350px;

    justify-content: space-around;
    border-radius: 10px;
    margin: 20px;
}

.column select{
    background: #10101E;
    color: #fff;
    text-align: center;
    padding: 8px 4px;
    border: 1px solid #2E94E3;
    border-radius: 18px;
}


#btn-setAlarm, .btn-delete, #stopAlarm{
    padding: 10px;
    
    color: #fff;
    background: #2E94E3;
    border: 1px solid #2E94E3;
    border-radius: 18px;
}



.btn-delete{
    margin-left: 50px;
}

#btn-setAlarm:hover, .btn-delete:hover, #stopAlarm:hover{
    cursor: pointer;
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

h3{
    color: #fff;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3%;
}

.alarmList{
    color: #fff;
    margin: 14px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.alarmLog{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px auto;
}
hr {
    border: 1px solid #2E94E3;
    margin: 20px auto;
   }
